@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100;200;300;400;500;600;700&display=swap');
s
/* Reset */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Main Styling */
body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
  background: #FBFAFA;
	color: #000;
}

p {
	font-size: 1rem;
	margin: 10px 0;
	line-height: 1.7em;
}

a {
	text-decoration: none;
}

/* Utility Classes */
.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 30px;
}

.large {
	font-size: 20px;
}
.small {
	font-size: 12px;
}

.display-1 {
	font-size: 4rem;
	font-family: "IBM Plex Serif", serif;
	color: #9163CB;
}

.btn {
	background: #9163CB;
  color: #fff;
  border: none;
  display: inline-block;
	font-size: 15px;
	padding: 12px 23px;
	cursor: pointer;
	font-weight: bold;
	letter-spacing: 1px;
	border-radius: 4px;
}

.btn:hover {
	color: #B99CDE;
}

form input {
  width: 300px;
	padding: 7px 12px;
	font-size: 1rem;
	line-height: 1.5;
  background: transparent;
	border: 1px solid #ced4da;
	border-radius: 4px;
}

/* Body */
body {
	display: flex;
}

body img {
	height: 500px;
	display: flex;
	margin-top: 150px;
}

/* Main */
main {
	background: url('/images/background.jpg') no-repeat center center/cover;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

main p {  
	padding-bottom: 15px;
}

/* Footer */
.footer a {
	color: #000;
  padding-right: 10px;
}


/* Responsive */
@media (max-width: 768px) {
	main {
		height: 100%;
	}
	body img {
		display: none;
	}

	form button {
		margin-top: 5px;
		margin-bottom: 30px;
	}
}
